
.card {
    width: 18rem;
    background: #8db9c1;
    margin-top: 20px; 
    padding: 10px;
    border: 1px solid;
    display: block;
}

/* .card-img-top{
    min-width: 100%;
    width: auto;
    height: 200px;
} */

.myimg{
    width: 245;
    height: 160;
}

button{
    width: 100px;
    background: #ccc;
    margin: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: aquamarine;
}

button a {
    text-decoration: none;
}

